$bg-btn: get-theme-values($prismTheme, 'bg-btn');
$text-color: get-theme-values($prismTheme, 'text-color');
$background: get-theme-values($prismTheme, 'bg');
$title-color: get-theme-values($prismTheme, 'title-color');
$title-color-2: get-theme-values($prismTheme, 'title-color-2');
$td-shadow: get-theme-values($prismTheme, 'td-shadow');
$rootClass: $rootCssClass;

* {
  padding: 0;
  margin: 0;

  &::selection {
    background-color: $grey-2;
    color: $orange;
    text-shadow: 1px 1px 1px $red;
  }
}

.is-hidden {
  display: none;
}

body {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  background: $background;
}

.theme {
  background: $background;
  color: $text-color;
}

.divider {
  background-image: fill-content-background-image($divider, $text-color, null);
  width: 110px;
  height: 45px;
  background-position: center;
  margin: 0 auto;
}

.tags-content {
  padding: ($gutter * 2) $gutter 0;
  max-width: 1200px;
  margin: 0 auto;

  code[class*=language-],
  pre[class*=language-] {
    white-space: pre-wrap;
    word-break: break-word;
    margin: 0 auto;
  }
}

.sticky-container {
  background: $background;
  padding: 20px;
  position: sticky;
  top: 0;
  // border-bottom: 5px solid rgba($text-color, .2);

  &-button {
    padding: 20px;
    width: 100%;
    max-width: 750px;
    display: block;
    margin: 0 auto;
    background: darken($bg-btn, 5%);
    color: $white;
    border: inset 1px rgba($white, .7);
    border-radius: 4px;
    font-size: 1.5rem;
    font-weight: 300;
    text-shadow: -1px 1px 1px $black;

    &:hover {
      cursor: pointer;
      background: darken($bg-btn, 10%);
    }
    &:focus {
      outline: $red;
    }
    &:active {
      background: darken($bg-btn, 25%);
      border: 0;
    }
  }
}

.#{$rootClass} {
  max-width: 900px;
  min-width: 360px;
  margin: 0 auto;

  &__header {
    display: flex;
    flex-direction: column;

    @include breakpoint('small') {
      padding: 0 0 ($gutter * 2);
    }
    
    &-title {
      font-family: 'BioRhyme Expanded', serif;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      text-align: center;
      font-size: 2rem;
      
      & span[class*=group]:not(:last-of-type) {
        margin-right: 20px;
      }

      & .group-0 {
        color: $title-color;
      }
      & .group-1 {
        color: $title-color;
      }
      & .group-2 {
        color: $title-color-2;
        margin-bottom: $gutter;
        
        @include breakpoint('small') {
          margin-bottom: 0;
          flex-basis: 100%;
        }
      }

      @include breakpoint('small') {
        text-align: left;
      }
    }
  }

  &__content {
    padding: $gutter;

    @include breakpoint('small') {
      padding-left: 0;
      padding-right: 0;
    }
  }

  &__aside {
    padding-bottom: $gutter;

    @include breakpoint('small') {
      display: flex;
      justify-content: space-between;
    }

    &-nav {

      &:first-of-type {
        margin-bottom: $gutter;
        
        @include breakpoint('small') {
          margin-bottom: 0;
        }
      }
    }

    &-title {
      font-size: 1.2rem;
      margin-bottom: ($gutter - 10);
    }
    
    &-list {
      list-style: none;
      
      &.dev-icons {
        @include list-icon-generator($devIcons, 25, $bg-btn);
      }
      
      &.me-icons {
        @include list-icon-generator($devMe, 25, $bg-btn);
      }
    }
  }
  
  &__main {
    padding-top: $gutter;
    
    &-title {
      margin-bottom: $gutter;
    }
  }
  
  &__summary {
    padding-bottom: ($gutter - 5);

    p {
      margin-bottom: ($gutter - 5);
      line-height: ($gutter + 10);

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
  
  &__experience {
    padding-top: ($gutter - 5);
    
    &-item {
      margin-bottom: ($gutter + 5);
      
      .resume__main-title {
        margin-bottom: ($gutter - 5);
        font-weight: 100;
        
        &:first-child {
          margin-bottom: ($gutter - 10);
        }
      }

      @include experience-builder($experienceIcons, $bg-btn);
      
      &:last-of-type {
        margin-bottom: $gutter;
      }
    }
  }
  
  &__education {
    padding-top: ($gutter - 5);
    
    &-item {
      margin-bottom: ($gutter);
      .resume__main-list {
        @include list-icon-generator(code, 25, $bg-btn);
        
        span {
          display: flex;
          flex-direction: column;
        }
      }
    }
  }

  &__skills {
    margin: 0 auto;

    tbody {
      display: flex;
      flex-direction: column;
    }

    tr {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-bottom: 5px;
    }

    td {
      padding: 10px 15px;
      box-shadow: 0 0 3px $td-shadow;
      flex-grow: 1;
      margin: 5px;
    }
  }

  &__footer {

    width: 100%;
    height: 100px;
    background-image: url(#{$img-path}footer.svg);
    background-size: contain;
    margin-top: ($gutter * 3);
    position: absolute;
    left: 0;

    &-copy {
      text-align: center;
      word-spacing: 5px;
      font-size: 1.2rem;
      width: 95%;
      margin: 0 auto;
      padding: 7px 5px 3px;
      background: $background;
      color: $text-color;
      border: 1px inset;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      border-radius: 25px 25px 0 0;

      @include breakpoint('small') {
        width: 50%;        
      }
  
      span {
        display: inline-block;
        transform: rotate(270deg);
        color: $pink;
        font-family: monospace;
        font-size: 1.5rem;
        font-weight: bold;
        letter-spacing: -4px;
        text-shadow: 0px 2px 1px $white;
      }
    }

    &:before {
      content: '';
      position: absolute;
      top: -19px;
      left: 0;
      right: 0;
      height: 20px;
      background-size: 20px 40px;
      background-repeat: repeat-x;
      background-image: linear-gradient(45deg, transparent 34%, #C8C5C2 34%, #C8C5C2 66%, transparent 66%), linear-gradient(135deg, transparent 34%, #C8C5C2 34%, #C8C5C2 66%, transparent 66%);
  }
  }
}
