/* === BioRhyme Expanded - regular */
@font-face {
	font-family: 'BioRhyme Expanded';
	font-style: normal;
	font-weight: 400;
	src: url("./fonts/BioRhymeExpanded-Regular.eot");
	src: local("BioRhyme Expanded"),
		local("BioRhymeExpanded-Regular"),
		url("./fonts/BioRhymeExpanded-Regular.eot") format("embedded-opentype"),
		url("./fonts/BioRhymeExpanded-Regular.woff2") format("woff2"),
		url("./fonts/BioRhymeExpanded-Regular.woff") format("woff"),
		url("./fonts/BioRhymeExpanded-Regular.ttf") format("truetype"),
		url("./fonts/BioRhymeExpanded-Regular.svg") format("svg");
}

/* === Roboto - regular */
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src: url("./fonts/Roboto-Regular.eot");
	src: local("Roboto"),
		local("Roboto-Regular"),
		url("./fonts/Roboto-Regular.eot") format("embedded-opentype"),
		url("./fonts/Roboto-Regular.woff2") format("woff2"),
		url("./fonts/Roboto-Regular.woff") format("woff"),
		url("./fonts/Roboto-Regular.ttf") format("truetype"),
		url("./fonts/Roboto-Regular.svg") format("svg");
}
