@import 'vars';

* {
  padding: 0;
  margin: 0;

  &::selection {
    background-color: $grey-2;
    color: $orange;
    text-shadow: 1px 1px 1px $red;
  }
}

.is-hidden {
  display: none !important;
}

body {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  background: $black;
}

.theme {
  background: $black;
  color: $white;
}

.divider {
  background-image: url($divider);
  width: 110px;
  height: 45px;
  background-position: center;
  margin: 0 auto;
}

code[class*=language-],
pre[class*=language-] {
  white-space: pre-wrap;
  word-break: break-word;
  max-width: 1500px;
  margin: 0 auto;
}

.tags-content {
  padding: ($gutter * 2) $gutter 0;
}

.resume {
  max-width: 900px;
  min-width: 360px;
  margin: 0 auto;
  padding: 20px;

  &__header {
    display: flex;
    flex-direction: column;
    padding: ($gutter * 2) $gutter 0;

    @include breakpoint('small') {
      padding: ($gutter * 2) 0;
    }
    
    &-title {
      font-family: 'BioRhyme Expanded', serif;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      text-align: center;
      font-size: 2rem;
      margin-top: $gutter;
      
      & span[class*=group]:not(:last-of-type) {
        margin-right: 20px;
      }

      & .group-0 {
        color: $green;
      }
      & .group-1 {
        color: $green;
      }
      & .group-2 {
        color: $orange;
        margin-bottom: $gutter;
        
        @include breakpoint('small') {
          margin-bottom: 0;
          flex-basis: 100%;
        }
      }

      @include breakpoint('small') {
        text-align: left;
        margin-top: ($gutter * 2);
      }
    }

    &-button {
      padding: 20px;
      width: 100%;
      display: block;
      margin: 0 auto;
      background: darken($red, 5%);
      color: $white;
      border: inset 1px rgba($white, .7);
      border-radius: 4px;
      font-size: 1.5rem;
      font-weight: 300;
      text-shadow: -1px 1px 1px $black;

      &:hover {
        cursor: pointer;
        background: darken($red, 10%);
      }
      &:focus {
        outline: $red;
      }
      &:active {
        background: darken($red, 25%);
        border: 0;
      }
    }
  }

  &__content {
    padding: ($gutter * 2) $gutter 0;

    @include breakpoint('small') {
      padding-left: 0;
      padding-right: 0;
    }
  }

  &__aside {
    padding-bottom: $gutter;

    @include breakpoint('small') {
      display: flex;
      justify-content: space-between;
    }

    &-nav {

      &:first-of-type {
        margin-bottom: $gutter;
        
        @include breakpoint('small') {
          margin-bottom: 0;
        }
      }
    }

    &-title {
      font-size: 1.2rem;
      margin-bottom: ($gutter - 10);
    }
    
    &-list {
      list-style: none;
      
      &.dev-icons {
        @include list-icon-generator($devIcons, 25);
      }
      
      &.me-icons {
        @include list-icon-generator($devMe, 25);        
      }
    }
  }
  
  &__main {
    padding-top: $gutter;
    
    &-title {
      margin-bottom: $gutter;
    }
    
    &-list {
      @include list-icon-generator(robot, 30);
    }
  }
  
  &__summary {
    padding-bottom: ($gutter - 5);

    p {
      margin-bottom: ($gutter - 5);
      line-height: ($gutter + 10);

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
  
  &__experience {
    padding-top: ($gutter - 5);
    
    &-item {
      margin-bottom: ($gutter + 5);
      
      .resume__main-title {
        margin-bottom: ($gutter - 5);
        font-weight: 100;
        
        &:first-child {
          margin-bottom: ($gutter - 10);
        }
      }
      
      &:nth-of-type(2) {
        .resume__main-list {
          @include list-icon-generator(lamp, 30);        
        }
      }
      
      &:nth-of-type(3) {
        .resume__main-list {
          @include list-icon-generator(atom, 25);        
        }
      }
      
      &:last-of-type {
        margin-bottom: $gutter;
      }
    }
  }
  
  &__education {
    padding-top: ($gutter - 5);
    
    &-item {
      margin-bottom: ($gutter);
      .resume__main-list {
        @include list-icon-generator(code, 25);
        
        span {
          display: flex;
          flex-direction: column;
        }
      }
    }
  }

  &__skills {
    margin: 0 auto;

    tbody {
      display: flex;
      flex-direction: column;
    }

    tr {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-bottom: 5px;
    }

    td {
      padding: 10px 15px;
      box-shadow: 0 0 3px $red;
      flex-grow: 1;
      margin: 5px;
    }
  }

  &__footer {

    width: 100%;
    height: 100px;
    background-image: url(#{$img-path}footer.svg);
    background-size: contain;
    margin-top: ($gutter * 3);
    position: absolute;
    left: 0;

    &-copy {
      text-align: center;
      word-spacing: 5px;
      font-size: 1.2rem;
      width: 95%;
      margin: 0 auto;
      padding: 7px 5px 3px;
      background: $black;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      border-radius: 25px 25px 0 0;

      @include breakpoint('small') {
        width: 50%;        
      }
  
      span {
        display: inline-block;
        transform: rotate(270deg);
        color: $pink;
        font-family: monospace;
        font-size: 1.5rem;
        font-weight: bold;
        letter-spacing: -4px;
        text-shadow: 0px 2px 1px $white;
      }
    }

    &:before {
      content: '';
      position: absolute;
      top: -19px;
      left: 0;
      right: 0;
      height: 20px;
      background-size: 20px 40px;
      background-repeat: repeat-x;
      background-image: linear-gradient(45deg, transparent 34%, #C8C5C2 34%, #C8C5C2 66%, transparent 66%), linear-gradient(135deg, transparent 34%, #C8C5C2 34%, #C8C5C2 66%, transparent 66%);
  }
  }
}
