// Variables
$black: #282a36;
$grey: #6272a4;
$grey-2: #44475a;
$white: #f8f8f2;
$cyan: #8be9fd;
$green: #50fa7b;
$orange: #ffb86c;
$pink:   #ff79c6;
$purple:   #bd93f9;
$red:   #ff5555;
$yellow:   #f1fa8c;
$gutter: 15px;
$img-path: '../images/';
$devMe: me, email, telephone, address;
$devIcons: github, npm, web, linkedin;
$experienceIcons: robot, lamp, atom;
$divider: '#{$img-path}divider.svg';

$breakpoints: (
  'small':  767px,
  'medium': 992px,
  'large':  1200px
) !default;

$prism-themes: (
  dracula: (
    'bg': $black,
    'text-color': $white,
    'bg-btn': $red,
    'title-color': $green,
    'title-color-2': $orange,
    'td-shadow': $red,
  ),
  prism: (
    'bg': #f5f2f0,
    'text-color': #000,
    'bg-btn': #905,
    'title-color': #690,
    'title-color-2': #07a,
    'td-shadow': #690,
  ),
  coy: (
    'bg': #fdfdfd,
    'text-color': #000,
    'bg-btn': #c92c2c,
    'title-color': #2f9c0a,
    'title-color-2': #1990b8,
    'td-shadow': #1990b8
  ),
  dark: (
    'bg': #4d4033,
    'text-color': #fff,
    'bg-btn': #d1949e,
    'title-color': #bde052,
    'title-color-2': #f5b83d,
    'td-shadow': #d1949e
  ),
  funky: (
    'bg': #000,
    'text-color': #fff,
    'bg-btn': #ff1493,
    'title-color': #9acd32 ,
    'title-color-2': #0cf,
    'td-shadow': #ff1493
  ),
  okaidia: (
    'bg': #272822,
    'text-color': #f8f8f2,
    'bg-btn': #f92672,
    'title-color': #a6e22e ,
    'title-color-2': #e6db74,
    'td-shadow': #f92672
  ),
  solarizedlight: (
    'bg': #fdf6e3,
    'text-color': #657b83,
    'bg-btn': #268bd2,
    'title-color': #2aa198 ,
    'title-color-2': #859900,
    'td-shadow': #657b83
  ),
  tomorrow: (
    'bg': #2d2d2d,
    'text-color': #ccc,
    'bg-btn': #e2777a,
    'title-color': #7ec699 ,
    'title-color-2': #67cdcc,
    'td-shadow': #7ec699
  ),
  twilight: (
    'bg': #141414,
    'text-color': #fff,
    'bg-btn': #ad895c,
    'title-color': #E9C062 ,
    'title-color-2': #919e6b,
    'td-shadow': #AC885B
  ),
) !default;
