<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1.0"
  >
  <meta
    http-equiv="X-UA-Compatible"
    content="ie=edge"
  >
  <meta
    name="description"
    content="<%= htmlWebpackPlugin.options.description %>"
  >
  <meta
    name="keywords"
    content="<%= htmlWebpackPlugin.options.keywords %>"
  >
  <meta
    name="keywords"
    content="<%= htmlWebpackPlugin.options.author %>"
  >
  <link
    rel="icon"
    type="image/png"
    href="favicon.png"
  >
  <title>
    <%= htmlWebpackPlugin.options.description %>
  </title>
</head>
<body>
  <section class="resume">
    <header class="resume__header">
      <button
        id="renderButton"
        class="resume__header-button"
      >
        Render As HTML
      </button>
      <h1
        class="resume__header-title is-hidden"
        id="headerTitle"
      >
        Albert Vallverdu Resume
      </h1>
    </header>
    <section id="renderContent" class="resume__content is-hidden"></section>
  </section>
  <section>

  </section>
  <div class="tags-content">
    <script
      id="content"
      type="text/plain"
      class="language-markup"
    ></script>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.15.0/prism.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.15.0/plugins/unescaped-markup/prism-unescaped-markup.js"></script>
  <script src="https://unpkg.com/pretty-letters@1.0.2/dist/prettyLetters.min.js"></script>
</body>
</html>